In [1]:
import requests
import csv
import json
from geopy.geocoders import Nominatim
import re
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
from google.colab import auth
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from geopy.exc import GeocoderTimedOut

In [2]:
import gspread
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [5]:
ws = gc.open('lat-lon')
rows = ws.sheet1.get_all_values()

geolocator = Nominatim(user_agent="geoapiExercises")
filename = "lat_lon_location.csv"
csvfile=open(filename, 'w')

wr=csv.writer(csvfile,dialect='excel')

j=[]
j1=[]
j2=[]

rows1=[]
for i in rows:
    latValue = i[0]
    lonValue = i[1]
    location = geolocator.reverse(latValue+","+lonValue)
    j.append(i[0])
    j1.append(i[1])
    j2.append(location)

 
  
   
for i in range(len(j)):
  
  rows1.append([j[i],j1[i],j2[i]])
  
wr.writerows(rows1)   
csvfile.close()

[['42.3609603', '-71.05796656'], ['34.05391803', '-118.2426533']]

In [ ]:
ws = gc.open('CS682_Datacenter')
rows = ws.sheet1.get_all_values()

filename = "city_data.csv"
csvfile=open(filename, 'w')
#headerList = ['City name', 'State code (or country name)', 'Irradiance','Avg temp','Max temp','Min temp']
#wr=csv.writer(csvfile,dialect='excel',header=headerList, index=False)
wr=csv.writer(csvfile,dialect='excel')

j=[]
j1=[]
j2=[]
j3=[]
rows1=[]
for i in rows:
  if re.search('[a-zA-Z]', i[0]):
    city = i[0]
    geolocator = Nominatim(user_agent='myapplication')
    location = geolocator.geocode(city,timeout=100)
    latValue = location.latitude
    lonValue = location.longitude
  else:
    latValue = city.split(',')[0]
    lonValue = city.split(',')[10]
  r = requests.get('https://power.larc.nasa.gov/api/temporal/monthly/point?parameters=ALLSKY_SFC_SW_DIFF,T2M,T2M_MAX,T2M_MIN&community=SB&longitude='+str(lonValue)+'&latitude='+str(latValue)+'&format=JSON&start=2016&end=2020')
  json_data = json.loads(r.text)
  #print(json_data)
  #df=pd.DataFrame(json_data)
  #df=pd.DataFrame(json_data['properties']['parameter']['T2M']['201613'])

  #df=pd.json_normalize(json_data, record_path =['properties']['parameter']['T2M']['201613'])
#data = json_data['properties']['parameter']
#for x in data:
#	print(x['ALLSKY_SFC_SW_DIFF']['201613'],x['T2M']['201613'], x['T2M_MAX']['201613'], x['T2M_MIN']['201613'])
  #print(json_data)
  j.append(json_data['properties']['parameter']['ALLSKY_SFC_SW_DIFF']['201613'])
  j1.append(json_data['properties']['parameter']['T2M']['201613'])
  j2.append(json_data['properties']['parameter']['T2M_MAX']['201613'])
  j3.append(json_data['properties']['parameter']['T2M_MIN']['201613'])
 
  
   
for i in range(len(j)):
  #wr.writerow([j[i]])
  rows1.append([rows[i][0],j[i],j1[i],j2[i],j3[i]])
  
#for i in range(len(j1)):
  #wr.writerow([j1[i]])
#  rows1.append([j1[i]])
wr.writerows(rows1)   
csvfile.close()

[['Anchorage, AK'], ['International Falls, Minnesota'], ['Waltham, MA'], ['Chicago, IL'], ['Dallas, TX'], ['El Segundo, CA'], ['Oakland, CA'], ['Phoenix, AL'], ['Portland, OR'], ['Prineville, OR'], ['Mayes County, Oklahoma'], ['Santa Clara, CA'], ['Seattle, WA'], ['Austin, TX'], ['Houston, TX'], ['Potrero, CA'], ['Atlanta, GA'], ['New York, NY'], ['Bridgeport, CT'], ['Edison, NJ'], ['Clifton, NJ'], ['Piscataway, NJ'], ['Weehawken, NJ'], ['Charlotte, NC'], ['Maiden, NC'], ['Miami, FL'], ['New York, NY'], ['Reston, VA'], ['Dallas, TX'], ['San Jose, ca'], ['Bluffdale, UT'], ['Salt Lake City, UT'], ['Mesa, Az'], ['Prineville, Oregon'], ['Kansas City, Kansas'], ['Los Luna, NM'], ['Altoona, IA'], ['Reno, Nevada'], ['Kuna, ID'], ['Ashburn, VA'], ['Altoona, Iowa'], ['Council Bluffs, Iowa'], ['Dalles, OR'], ['Quincy, WA'], ['Henrico, VA'], ['Huntsville, AL'], ['Forest City, NC'], ['New Albany, OH'], ['Gallatin, TN'], ['Maiden, NC'], ['Toronto, Canada'], ['Calgary, Canada'], ['Montreal, Canada'], ['Vancouver, Canada'], ['Winnipeg, Canada'], ['Ottawa, Canada'], ['Kamloops, Canada'], ['Singapore, Singapore'], ['Karnataka, India'], ['Mumbai, India'], ['Bengaluru, India'], ['Taipei Taiwan'], ['Jakarta, Indonesia'], ['Bekasi, Indonesia'], ['Seoul, South Korea'], ['Nagano, Japan'], ['Aomori, Japan'], ['Sapporo, Japan'], ['Kuala Lumpur, Malaysia'], ['Cyberjaya, Malaysia'], ['Ulaanbaatar, Mongolian State'], ['Astana, Qazaqstan'], ['Reykjavik, Iceland'], ['Tallinn, Estonia'], ['Odense, Denmark'], ['Warsaw, Poland'], ['Lulea, Sweden'], ['Hamina, Finland'], ['Kajana, Finland'], ['Skien, Norway'], ['Ballangen, Norway'], ['Oslo, Norway'], ['Middenmeer, Netherlands'], ['St. Ghislain, Belgium'], ['Dublin, Ireland'], ['Newport, UK'], ['Cardiff, UK'], ['Frankfurt, Germany'], ['Zurich, Switzerland'], ['Risomar, Cyprus'], ['Sydney, Australia'], ['Perth, Australia'], ['Istanbul, Turkey'], ['Dubai, UAE'], ['Abu Dhabi, UAE'], ['Muscat, Oman'], ['Manama, Bahrain'], ['Sao Paulo, Brazil'], ['Rio de Janeiro, Brazil'], ['Bogota, Columbia'], ['Mexico City, Mexico'], ['Queretaro, Mexico'], ['Monterrey, Mexico'], ['Bahia Blanca, Argentina'], ['Quilicura, Chille'], ['Cairo, Egypt'], ['Tunis, Tunisia'], ['Cape Town, South Africa'], ['Johannesburg, South Africa'], ['Lagos, Nigeria'], ['Lagos, Nigeria']]